@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}


@font-face {
  font-family: Denominator;
  font-style: normal;
  font-weight: normal;
  src: url("Denominator.ttf") format('truetype');
}

#size-widget {
  display: inline;
}

.header {
　　position: absolute;
　　margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  text-align: center;
}

.header p {
  font-size: 2em;
  color: white;
  font-family: Denominator;
　　margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #54667F;
}

#controls {
  margin-top: 10px;
  text-align: center;
}

#box {
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 700px;
  padding-bottom: 20px;
  margin-top: 40px;
  padding-top: 40px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
  border-radius: 6px;
}

label {
  color: white;
  font-size: 1.3em;
  margin-right: 5px;
  vertical-align: middle;
  font-family: Denominator;
  
}

#inner-box {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #351330;
}

.enemy-id {
  font-weight: bold;
}

.enemy {
  margin-right: 10px;
  display: inline;
  text-align: left;

}

#player-title {
  font-weight: bold;
}

#player-stats {
  margin-right: 10px;
  text-align: left;
  display: inline;
}

#canvas {
  margin-top: auto;
  margin-bottom: auto;
  width: 512px;
  height: 512px;
  float: none;
}

.btn {
  cursor: pointer;
  background-color: gray;
  border-radius: 6px;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline;
  margin-right: 3px;
  font-size: 1.3em;
}

#size-widget input {
  background-color: gray;
  width: 40px;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline;
  margin-right: 3px;
}

#button-container {
  font-family: Denominator;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: inline;
}

#message {
  font-family: Denominator;
  text-align: center;
  background-color: #351330;
  color: white;
  font-size: 2em;
  height: 50px;
}

#info-box {
  font-family: Denominator;
  background-color: #351330;
  color: white;
  font-size: 1.5em;
  display: flex;
　　margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
}

#github-container{
  margin:0;
}

#github-container p {
  font-family: Denominator;
  font-size: 2em;
  text-align: center;
  color: white;
  margin-top: 10px;
}
